.bar {
  text-align: center;
}

.singleBar {
  width: 1rem;
  min-height: 5px;
  transition: height 0.3s;
}

.barText {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.pending {
  background-color: #537FE7;
}

.active {
  background-color: #BE3144;
}

.switching {
  background-color: #F4CE14;

  /* transition: transform 0.2s;
  transform: translateY(2rem); */
}

.sorted {
  background-color: #4E9F3D;
}